/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
img{
    width: 100%;
}

html{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 100%; */
}

.container{
    background-color: #141922;
    width: 100%;
    height: 100vh;
    position: relative;
}

a{
    color: grey;
    text-decoration: none;
}

/* a :hover .grey{
    color: white;
} */

li{
    list-style: none;
}

hr{
    margin:0.5rem;
}

h2{
    color: white;
}

/* UTILITIES */
.flex{
    display: flex;
}

.mg1rem{
margin: .7rem 0;
}

.vert-align{
    vertical-align: middle;
}

.grey{
    color: grey;
}

.white{
    color: white;
}

.opacity{
    opacity: 0.5;
}

/* SIDE-BAR */
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 200px;
    height: calc(100vh - 80px);
    background-color:black;
    padding-left: 1rem;
}

.logo{
    Margin-top: .5rem;
    width: 130px;
} 

.logo-small{
    display: none;
}

.home,.search,.library,.download{
    width: 30px;
}

/* PLAYLIST-sidebar*/
.playlist{
   color: grey;
   line-height: 1.5rem;
   margin: 1rem;
   min-height: 50%;
}
.playlist>h3{
    color: white;
}

.menu-footer{
    position: relative;
    bottom:0;
}

.profile{
    width: 30px;
    border-radius: 50%;
    background-color: grey;
}

.login{
    color: white;
}

.nav-footer-icon{
    display: none;
}

a :hover{
    color: white;
}

li :hover{
    color: white;
}


/* HEADER */
header{
    width: calc(100% - 200px);
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 990;
    align-items: center;
    justify-content: end;
    display: flex;
    height: 70px;
}

header a{
    border-radius: 25px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.5rem;
}

/* MAIN */
main{
    position: absolute;
    width: calc(100% - 200px);
    height: calc(100vh - 80px - 70px);
    left: 200px;
    top: 70px;
    overflow-y: scroll;
}

/* CENTRAL-NAV */
.navigate{
    width: 100%;
    margin: 0 auto;
}

.central-nav{
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.central-nav li a{
    color: grey;
}
.central-nav li{
    margin: 1rem;
}

/* PLAYER-WRAPPER */

.wrapper{
    margin-left: 1rem;
}

.row{
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 6 - 0.5rem * 6);
    margin:0.5rem;
    text-align: center;
    color: white;
 
}

.col p{
    color: grey;
    font-size: 0.7em;
}

.player-section{
    margin: 1rem;
    line-height: 2rem;
}

.radius{
    border-radius: 50%;
  
}


/* FOOTER */
footer{
    background-color: #282828;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

footer i{
    margin: 0 1rem;
}

/* LEFT-FOOTER */
.left-footer{
    color: white;
}

.nome-brano{
    padding: 0.5rem;
    align-items: center;
}

.sinister{
    width: 60px;
    height: 60px;
}

.song{
    margin-left: 0.5rem;
}

.favorite{
color: grey;
align-items: center;
justify-content: space-between;
}

/* CENTRAL-FOOTER */
.central-footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}
.player{
color: white;
align-items: center;
justify-content: space-between;
height: 100%;
width: 100%;
}

/* RIFHT-FOOTER */
.right-footer{
    color: white;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
    width: 20%;
    height:100%;
}
.volume{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.range{
    width:200%;
    
}